.hero-banner {
  padding: 4rem 0;
  text-align: left;

  background-color: var(--ifm-color-secondary-dark);
}

.hero-banner .container {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

.hero-banner .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: 2.5rem;
}

.hero-banner .hero-image {
  width: 20rem;
}

.hero__title {
  margin-bottom: 0.6rem;
}

.hero__subtitle {
  max-width: 18rem;
  margin-bottom: 1.8rem;

  font-size: 1.1rem;
}

.explore-button {
  padding: 0.5rem 1.4rem;
  border: 0;

  font-size: 0.95rem;
}

.explore-button:hover {
  background-color: var(--ifm-color-primary-light);
}

.about-section {
  padding: 5rem 0;
  background-color: var(--ifm-color-secondary);
}

.about-section .container {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}

.about-section .container .description {
  margin-bottom: 0;
}

@media (max-width: 750px) {
  .hero-banner .hero-image {
    width: 17rem;
  }
}

@media (max-width: 685px) {
  .hero-banner {
    text-align: center;
  }

  .hero-banner .hero-content {
    align-items: center;
    margin-right: 0;
  }

  .hero-banner .hero-image {
    display: none;
  }
}

.framed {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

a {
  color: #067df7;
}

a:hover {
  color: #68b5fb;
}
